# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# fichiers de traitement
*.pdf
*.log
doc/*
log/*
extraction_pdf/*
/.settings/
/js/
/.buildpath
/enregistrement_Brouillon.php
/enregistrement_Demande.php
/enregistrement_donnees.php
/insertion_selection.php
/recuperation_Timer.php
/remplissage_param_service.php
/reprise_demande.php
/requete_extraction_elements.php
/requete_Remplissage_Service.php
/top.php
